@use "base/variables" as v;
@use "base/mixins" as m;

.galeria {
  @include m.contenedor;

  &-imagenes {
    @include m.grid(1, 2rem);

    @include m.telefono {
      @include m.grid(2, 2rem);
    }

    @include m.tablet {
      @include m.grid(3, 2rem);
    }

    @include m.desktop {
      @include m.grid(4, 2rem);
    }

    img {
      height: 20rem;
      object-fit: cover;
    }
  }
}

.modal {
  position: fixed;
  inset: 0; // que se posicione en toda la pantalla
  background-color: rgba(v.$negro, 0.5);
  display: grid; // para posicionar
  place-items: center; //  la imagen al centro
  animation: fadeIn ease-in 0.5s;

  &.fadeOut {
    // al clickear para cerrar el modal se agregará la clase para hacer esta animacion
    animation: fadeOut ease-in 0.5s;
  }
  img {
    max-width: 100rem;
  }
}

.btn-cerrar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: v.$blanco;
  border: none;
  color: v.$negro;
  display: grid;
  place-items: center;
  font-weight: 700;
  cursor: pointer;
}

// keyframes controla los pasos intermedios en una secuencia de animación
@keyframes fadeIn {
  // aparecer imagen
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  // desaparecer imagen
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
