@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  background-color: v.$verde;

  @include m.tablet {
    &.fixed {
      // para que al dar scroll se mantenga la barra de navegacion fija
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      box-shadow: 0.1rem 0.2rem 0.4rem #333;
    }
  }

  .contenido-header {
    padding: 2rem;
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    color: v.$blanco;
    text-align: center;
    @include m.tablet {
      margin: 0;
      text-align: left;
    }
  }
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @include m.tablet {
    flex-direction: row; // cuando sean dispositivos tipo tableta o desktop, los anchors de nav se vean en fila, por defecto es en columna
  }
  a {
    color: v.$blanco;
    font-size: 2.4rem;

    &:hover,
    &.active {
      // el & ayuda a que en el css detecte correctamente el :hover, sino da errors
      color: v.$amarillo;
    }
  }
}
